<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="/resources/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$('#comboboxDistrito').on('change', function(){
		var distritoId = $(this).val();
		$.ajax({
			type: 'GET',
			url: '/demo/loadCircuitosByDistrito/' + distritoId,
			success: function(result) {
				var result = JSON.parse(result);
				var s = '';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].id + '">' + result[i].nombre + '</option>';
				}
				$('#comboboxCircuito').html(s);
			}
		});
	});


	$('#comboboxCircuito').on('change', function(){
		var circuitoId = $(this).val();
		$.ajax({
			type: 'GET',
			url: '/demo/loadSubcircuitosByCircuito/' + circuitoId,
			success: function(result) {
				var result = JSON.parse(result);
				var s = '';
				for(var i = 0; i < result.length; i++) {
					s += '<option value="' + result[i].id + '">' + result[i].nombre + '</option>';
				}
				$('#comboboxSubcircuito').html(s);
			}
		});
	});
});
</script>
</head>
<body>
	<form>
		<table>
			<tr>
				<td>Distrito</td>
				<td><select id="comboboxDistrito" style="width: 200px">
						<option value="0">--</option>
						<option th:each="item : ${distritos}" th:value="${item.id}"
							th:text="${item.nombre}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Circuito</td>
				<td><select id="comboboxCircuito" style="width: 200px"></select></td>
			</tr>
			<tr>
				<td>Subcircuito</td>
				<td><select id="comboboxSubcircuito" style="width: 200px"></select></td>
			</tr>
		</table>
	</form>
</body>
</html>